*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 30px 50px;
    font-family: sans-serif;
}

.container{
    display: flex;
    gap: 50px;
}

#posts div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

#posts{
    width: 400px;
   
}

.options{
    display: flex;
    gap: 25px;
}

i{
    cursor: pointer;
}

#msg{
    color: red;
}